In [16]:
import pandas as pd

In [17]:
# Load GHG df
df_ghg = pd.read_csv('GHG_raw_data.csv')
df_ghg.columns

Index(['Year', 'Region', 'Index', 'Source', 'Sector', 'Sub-sector',
       'Sub-sub-sector', 'Total', 'CO2eq', 'Unit'],
      dtype='object')

In [18]:
print(df_ghg.iloc[2][4]) # 'Source'
print(df_ghg.iloc[2][5]) # 'Sector'

Upstream Oil and Gas
nan

In [19]:
df_ghg = df_ghg.loc[(df_ghg['Sector'].isna()) & (df_ghg['Total']=='y')]
df_ghg

,Year,Region,Index,Source,Sector,Sub-sector,Sub-sub-sector,Total,CO2eq,Unit
0,1990,Alberta,0,Provincial Inventory Total,NaN,NaN,NaN,y,173.0523683,Mt
1,1990,Alberta,1,Oil and Gas,NaN,NaN,NaN,y,67.57525298,Mt
16,1990,Alberta,17,Transportation,NaN,NaN,NaN,y,17.00753866,Mt
24,1990,Alberta,25,Heavy Industry,NaN,NaN,NaN,y,12.58280942,Mt
32,1990,Alberta,33,Buildings,NaN,NaN,NaN,y,12.141905,Mt
...,...,...,...,...,...,...,...,...,...,...
16231,2018,Yukon,25,Heavy Industry,NaN,NaN,NaN,y,0.020116057,Mt
16238,2018,Yukon,33,Buildings,NaN,NaN,NaN,y,0.046141764,Mt
16241,2018,Yukon,36,Agriculture,NaN,NaN,NaN,y,0.000828866,Mt
16243,2018,Yukon,40,Waste,NaN,NaN,NaN,y,0.010031129,Mt
16246,2018,Yukon,45,"Light Manufacturing, Construction & Forest Res...",NaN,NaN,NaN,y,0.019400921,Mt

In [20]:
df_ghg = df_ghg[['Year', 'Region', 'Source','CO2eq']]
df_ghg

,Year,Region,Source,CO2eq
0,1990,Alberta,Provincial Inventory Total,173.0523683
1,1990,Alberta,Oil and Gas,67.57525298
16,1990,Alberta,Transportation,17.00753866
24,1990,Alberta,Heavy Industry,12.58280942
32,1990,Alberta,Buildings,12.141905
...,...,...,...,...
16231,2018,Yukon,Heavy Industry,0.020116057
16238,2018,Yukon,Buildings,0.046141764
16241,2018,Yukon,Agriculture,0.000828866
16243,2018,Yukon,Waste,0.010031129
16246,2018,Yukon,"Light Manufacturing, Construction & Forest Res...",0.019400921

In [21]:
# GDP dataset processing
df_gdp = pd.read_csv('GDP_raw_data.csv')
df_gdp

,REF_DATE,GEO,DGUID,Prices,Estimates,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1990,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1092141.0,NaN,NaN,NaN,0
1,1991,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1069358.0,NaN,NaN,NaN,0
2,1992,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1078985.0,NaN,NaN,NaN,0
3,1993,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1107696.0,NaN,NaN,NaN,0
4,1994,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1157481.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,2014,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,695.0,NaN,NaN,NaN,0
440,2015,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,667.0,NaN,NaN,NaN,0
441,2016,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,671.0,NaN,NaN,NaN,0
442,2017,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,698.0,NaN,NaN,NaN,0
443,2018,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,741.0,NaN,NaN,NaN,0

In [22]:
df_gdp = df_gdp.rename(columns={'REF_DATE': 'Year', 'GEO': 'Region', 'VALUE': 'GDP'})
df_gdp

,Year,Region,DGUID,Prices,Estimates,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,GDP,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1990,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1092141.0,NaN,NaN,NaN,0
1,1991,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1069358.0,NaN,NaN,NaN,0
2,1992,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1078985.0,NaN,NaN,NaN,0
3,1993,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1107696.0,NaN,NaN,NaN,0
4,1994,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1157481.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,2014,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,695.0,NaN,NaN,NaN,0
440,2015,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,667.0,NaN,NaN,NaN,0
441,2016,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,671.0,NaN,NaN,NaN,0
442,2017,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,698.0,NaN,NaN,NaN,0
443,2018,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,741.0,NaN,NaN,NaN,0

In [23]:
df_gdp = df_gdp[['Year', 'Region', 'GDP']]
df_gdp

     Year          Region        GDP
0    1990          Canada  1092141.0
1    1991          Canada  1069358.0
2    1992          Canada  1078985.0
3    1993          Canada  1107696.0
4    1994          Canada  1157481.0
..    ...             ...        ...
439  2014  Outside Canada      695.0
440  2015  Outside Canada      667.0
441  2016  Outside Canada      671.0
442  2017  Outside Canada      698.0
443  2018  Outside Canada      741.0

[444 rows x 3 columns]

In [24]:
# Population dataset processing
df_pop = pd.read_csv('Population_raw_data.csv')
df_pop

,REF_DATE,GEO,DGUID,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1990,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,27691138,NaN,NaN,NaN,0
1,1991,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,28037420,NaN,NaN,NaN,0
2,1992,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,28371264,NaN,NaN,NaN,0
3,1993,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,28684764,NaN,NaN,NaN,0
4,1994,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,29000663,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,2014,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,35971,NaN,NaN,NaN,0
401,2015,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,36488,NaN,NaN,NaN,0
402,2016,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,36975,NaN,NaN,NaN,0
403,2017,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,37546,NaN,NaN,NaN,0
404,2018,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,38143,NaN,NaN,NaN,0

In [25]:
df_pop = df_pop.rename(columns={'REF_DATE': 'Year', 'GEO': 'Region', 'VALUE': 'Population'})
df_pop

,Year,Region,DGUID,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,Population,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1990,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,27691138,NaN,NaN,NaN,0
1,1991,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,28037420,NaN,NaN,NaN,0
2,1992,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,28371264,NaN,NaN,NaN,0
3,1993,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,28684764,NaN,NaN,NaN,0
4,1994,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,29000663,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,2014,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,35971,NaN,NaN,NaN,0
401,2015,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,36488,NaN,NaN,NaN,0
402,2016,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,36975,NaN,NaN,NaN,0
403,2017,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,37546,NaN,NaN,NaN,0
404,2018,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,38143,NaN,NaN,NaN,0

In [26]:
df_pop = df_pop[['Year', 'Region', 'Population']]
df_pop

     Year   Region  Population
0    1990   Canada    27691138
1    1991   Canada    28037420
2    1992   Canada    28371264
3    1993   Canada    28684764
4    1994   Canada    29000663
..    ...      ...         ...
400  2014  Nunavut       35971
401  2015  Nunavut       36488
402  2016  Nunavut       36975
403  2017  Nunavut       37546
404  2018  Nunavut       38143

[405 rows x 3 columns]

In [27]:
# Merging the datasets
df_historical = df_ghg.merge(df_gdp).merge(df_pop)
df_historical

,Year,Region,Source,CO2eq,GDP,Population
0,1990,Alberta,Provincial Inventory Total,173.0523683,149568.0,2547788
1,1990,Alberta,Oil and Gas,67.57525298,149568.0,2547788
2,1990,Alberta,Transportation,17.00753866,149568.0,2547788
3,1990,Alberta,Heavy Industry,12.58280942,149568.0,2547788
4,1990,Alberta,Buildings,12.141905,149568.0,2547788
...,...,...,...,...,...,...
3055,2018,Yukon,Heavy Industry,0.020116057,2734.0,40613
3056,2018,Yukon,Buildings,0.046141764,2734.0,40613
3057,2018,Yukon,Agriculture,0.000828866,2734.0,40613
3058,2018,Yukon,Waste,0.010031129,2734.0,40613
3059,2018,Yukon,"Light Manufacturing, Construction & Forest Res...",0.019400921,2734.0,40613

In [28]:
df_historical.to_csv('historical_dataset.csv', index=False)