In [59]:
import pandas as pd
import numpy as np

In [60]:
# Load GHG df
df_ghg = pd.read_csv('GHG_raw_data.csv')
df_ghg.columns

Index(['Year', 'Region', 'Index', 'Source', 'Sector', 'Sub-sector',
       'Sub-sub-sector', 'Total', 'CO2eq', 'Unit'],
      dtype='object')

In [61]:
print(df_ghg.iloc[2][4]) # 'Source'
print(df_ghg.iloc[2][5]) # 'Sector'

Upstream Oil and Gas
Conventional Oil Production

In [62]:
df_ghg = df_ghg.loc[(df_ghg['Sector'].isna()) & (df_ghg['Total']=='y')]
df_ghg

,Year,Region,Index,Source,Sector,Sub-sector,Sub-sub-sector,Total,CO2eq,Unit
96,2018,Prince Edward Island,1,Oil and Gas,NaN,NaN,NaN,y,3.770000e-07,Mt
105,2017,Prince Edward Island,1,Oil and Gas,NaN,NaN,NaN,y,3.930000e-07,Mt
246,2005,Nunavut,1,Oil and Gas,NaN,NaN,NaN,y,2.550000e-06,Mt
297,2016,Nunavut,1,Oil and Gas,NaN,NaN,NaN,y,3.520000e-06,Mt
325,2002,Prince Edward Island,1,Oil and Gas,NaN,NaN,NaN,y,5.760000e-06,Mt
...,...,...,...,...,...,...,...,...,...,...
16236,2014,Nunavut,45,"Light Manufacturing, Construction & Forest Res...",NaN,NaN,NaN,y,NaN,Mt
16239,2015,Nunavut,45,"Light Manufacturing, Construction & Forest Res...",NaN,NaN,NaN,y,NaN,Mt
16242,2016,Nunavut,45,"Light Manufacturing, Construction & Forest Res...",NaN,NaN,NaN,y,NaN,Mt
16245,2017,Nunavut,45,"Light Manufacturing, Construction & Forest Res...",NaN,NaN,NaN,y,NaN,Mt
16248,2018,Nunavut,45,"Light Manufacturing, Construction & Forest Res...",NaN,NaN,NaN,y,NaN,Mt

In [63]:
df_ghg = df_ghg[['Year', 'Region', 'Source','CO2eq']]
df_ghg

,Year,Region,Source,CO2eq
96,2018,Prince Edward Island,Oil and Gas,3.770000e-07
105,2017,Prince Edward Island,Oil and Gas,3.930000e-07
246,2005,Nunavut,Oil and Gas,2.550000e-06
297,2016,Nunavut,Oil and Gas,3.520000e-06
325,2002,Prince Edward Island,Oil and Gas,5.760000e-06
...,...,...,...,...
16236,2014,Nunavut,"Light Manufacturing, Construction & Forest Res...",NaN
16239,2015,Nunavut,"Light Manufacturing, Construction & Forest Res...",NaN
16242,2016,Nunavut,"Light Manufacturing, Construction & Forest Res...",NaN
16245,2017,Nunavut,"Light Manufacturing, Construction & Forest Res...",NaN
16248,2018,Nunavut,"Light Manufacturing, Construction & Forest Res...",NaN

In [64]:
# GDP dataset processing
df_gdp = pd.read_csv('GDP_raw_data.csv')
df_gdp

,REF_DATE,GEO,DGUID,Prices,Estimates,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1990,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1092141.0,NaN,NaN,NaN,0
1,1991,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1069358.0,NaN,NaN,NaN,0
2,1992,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1078985.0,NaN,NaN,NaN,0
3,1993,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1107696.0,NaN,NaN,NaN,0
4,1994,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1157481.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,2014,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,695.0,NaN,NaN,NaN,0
440,2015,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,667.0,NaN,NaN,NaN,0
441,2016,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,671.0,NaN,NaN,NaN,0
442,2017,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,698.0,NaN,NaN,NaN,0
443,2018,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,741.0,NaN,NaN,NaN,0

In [65]:
df_gdp = df_gdp.rename(columns={'REF_DATE': 'Year', 'GEO': 'Region', 'VALUE': 'GDP'})
df_gdp

,Year,Region,DGUID,Prices,Estimates,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,GDP,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1990,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1092141.0,NaN,NaN,NaN,0
1,1991,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1069358.0,NaN,NaN,NaN,0
2,1992,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1078985.0,NaN,NaN,NaN,0
3,1993,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1107696.0,NaN,NaN,NaN,0
4,1994,Canada,2016A000011124,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62787277,1.1.38,1157481.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,2014,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,695.0,NaN,NaN,NaN,0
440,2015,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,667.0,NaN,NaN,NaN,0
441,2016,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,671.0,NaN,NaN,NaN,0
442,2017,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,698.0,NaN,NaN,NaN,0
443,2018,Outside Canada,NaN,Chained (2012) dollars,Gross domestic product at market prices,Dollars,81,millions,6,v62788899,15.1.38,741.0,NaN,NaN,NaN,0

In [66]:
df_gdp = df_gdp[['Year', 'Region', 'GDP']]
df_gdp

     Year          Region        GDP
0    1990          Canada  1092141.0
1    1991          Canada  1069358.0
2    1992          Canada  1078985.0
3    1993          Canada  1107696.0
4    1994          Canada  1157481.0
..    ...             ...        ...
439  2014  Outside Canada      695.0
440  2015  Outside Canada      667.0
441  2016  Outside Canada      671.0
442  2017  Outside Canada      698.0
443  2018  Outside Canada      741.0

[444 rows x 3 columns]

In [67]:
# Population dataset processing
df_pop = pd.read_csv('Population_raw_data.csv')
df_pop

,REF_DATE,GEO,DGUID,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1990,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,27691138,NaN,NaN,NaN,0
1,1991,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,28037420,NaN,NaN,NaN,0
2,1992,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,28371264,NaN,NaN,NaN,0
3,1993,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,28684764,NaN,NaN,NaN,0
4,1994,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,29000663,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,2014,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,35971,NaN,NaN,NaN,0
401,2015,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,36488,NaN,NaN,NaN,0
402,2016,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,36975,NaN,NaN,NaN,0
403,2017,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,37546,NaN,NaN,NaN,0
404,2018,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,38143,NaN,NaN,NaN,0

In [68]:
df_pop = df_pop.rename(columns={'REF_DATE': 'Year', 'GEO': 'Region', 'VALUE': 'Population'})
df_pop

,Year,Region,DGUID,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,Population,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1990,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,27691138,NaN,NaN,NaN,0
1,1991,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,28037420,NaN,NaN,NaN,0
2,1992,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,28371264,NaN,NaN,NaN,0
3,1993,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,28684764,NaN,NaN,NaN,0
4,1994,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,29000663,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,2014,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,35971,NaN,NaN,NaN,0
401,2015,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,36488,NaN,NaN,NaN,0
402,2016,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,36975,NaN,NaN,NaN,0
403,2017,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,37546,NaN,NaN,NaN,0
404,2018,Nunavut,2016A000262,Both sexes,All ages,Persons,249,units,0,v480252,15.1.1,38143,NaN,NaN,NaN,0

In [69]:
df_pop = df_pop[['Year', 'Region', 'Population']]
df_pop

     Year   Region  Population
0    1990   Canada    27691138
1    1991   Canada    28037420
2    1992   Canada    28371264
3    1993   Canada    28684764
4    1994   Canada    29000663
..    ...      ...         ...
400  2014  Nunavut       35971
401  2015  Nunavut       36488
402  2016  Nunavut       36975
403  2017  Nunavut       37546
404  2018  Nunavut       38143

[405 rows x 3 columns]

In [70]:
# Merging the datasets
df_historical = df_ghg.merge(df_gdp).merge(df_pop)
df_historical

,Year,Region,Source,CO2eq,GDP,Population
0,2018,Prince Edward Island,Oil and Gas,3.770000e-07,6324.0,153396
1,2018,Prince Edward Island,Heavy Industry,1.261870e-02,6324.0,153396
2,2018,Prince Edward Island,Waste,6.116006e-02,6324.0,153396
3,2018,Prince Edward Island,"Light Manufacturing, Construction & Forest Res...",8.812287e-02,6324.0,153396
4,2018,Prince Edward Island,Buildings,3.412596e-01,6324.0,153396
...,...,...,...,...,...,...
3055,1994,Canada,Buildings,7.907596e+01,1157481.0,29000663
3056,1994,Canada,Heavy Industry,9.947267e+01,1157481.0,29000663
3057,1994,Canada,Transportation,1.218536e+02,1157481.0,29000663
3058,1994,Canada,Oil and Gas,1.256066e+02,1157481.0,29000663
3059,1994,Canada,National Inventory Total,6.363731e+02,1157481.0,29000663

In [71]:
# Creating new columns
df_historical['GDP'] = pd.to_numeric(df_historical['GDP'])
df_historical['Population'] = pd.to_numeric(df_historical['Population'])
df_historical['CO2eq'] = pd.to_numeric(df_historical['CO2eq'])
df_historical['CO2eq_tn_per_person'] = (df_historical['CO2eq']/df_historical['Population'])*1000000 
df_historical['CO2eq_tn_per_mil_GDP'] = (df_historical['CO2eq']/df_historical['GDP'])*1000000
df_historical.loc[~(df_historical['Source'].str.contains('Total')), 'CO2eq_tn_per_mil_GDP'] = np.NaN
# Standardize "Total" Source Labels
df_historical.loc[df_historical['Source'].str.contains('Total'), 'Source'] = 'Total'
df_historical

,Year,Region,Source,CO2eq,GDP,Population,CO2eq_tn_per_person,CO2eq_tn_per_mil_GDP
0,2018,Prince Edward Island,Oil and Gas,3.770000e-07,6324.0,153396,0.000002,NaN
1,2018,Prince Edward Island,Heavy Industry,1.261870e-02,6324.0,153396,0.082262,NaN
2,2018,Prince Edward Island,Waste,6.116006e-02,6324.0,153396,0.398707,NaN
3,2018,Prince Edward Island,"Light Manufacturing, Construction & Forest Res...",8.812287e-02,6324.0,153396,0.574480,NaN
4,2018,Prince Edward Island,Buildings,3.412596e-01,6324.0,153396,2.224697,NaN
...,...,...,...,...,...,...,...,...
3055,1994,Canada,Buildings,7.907596e+01,1157481.0,29000663,2.726695,NaN
3056,1994,Canada,Heavy Industry,9.947267e+01,1157481.0,29000663,3.430014,NaN
3057,1994,Canada,Transportation,1.218536e+02,1157481.0,29000663,4.201753,NaN
3058,1994,Canada,Oil and Gas,1.256066e+02,1157481.0,29000663,4.331164,NaN
3059,1994,Canada,Total,6.363731e+02,1157481.0,29000663,21.943399,549.791428

In [72]:
df_historical.to_csv('historical_dataset.csv', index=False)